*,*::before,*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
	font-size: 62.5%;
}
body {
}
#box {
	background: Gainsboro;
	margin: 0 auto;
	width: 100%;
}

/* vim: set tabstop=2:softtabstop=2:shiftwidth=2:noexpandtab */

